<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Saathi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <h2 th:text="#{title.list}">List of InfoRecords</h2>

    <table>
        <thead>
        <tr>
            <th>Record Name</th>
            <th>Schema</th>
            <th >Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rec : ${allRecords}">
            <td th:text="${{rec.name}}">name</td>
            <td th:text="${{rec.schemaName}}">Schema name</td>
            <td th:text="${rec.values.toString()}">Schema name</td>
        </tr>
        </tbody>
    </table>
</body>
</html>